* {
    margin: 0;
    padding: 0;

}

body {
    
    font-family: Georgia, Times, serif;
    color:white;
    font-size: 50px;    
    }


h1 {
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow:2px 2px rgb(0,0,205);

}

h2 {    text-align: center;
        font-weight:bolder;
        text-shadow:2px 2px #ff0000;

    }

h3 {    text-align: center;
        font-weight:bolder;
        text-shadow:2px 2px #ff0000;

   }

ul  { text-align:left

    }

div { float:right;

}

img {
    image-orientation: center;
    border-radius: 8px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flood-opacity: initial;
    }

.container {
    position: relative;
    text-align: center;
    color: rgb(70, 31, 134) dotted;
            }


           
          
.container img {vertical-align: middle;}

.bottom-left {
    position: center;
    bottom: 8px;
    left: 16px;
    color:rgb(70, 45, 93);
}

p {text-transform: none;
    
    font-style: italic;
    font-weight: lighter;
    text-align:center;
    font-family: Impact, Charcoal, sans-serif;
    color:fuchsia;
    text-shadow:2px 1px rgb(193, 193, 206);
}


 
  

 .p1 {text-transform: none;
    
    font-style: italic;
    font-weight: lighter;
    text-align:center;
    font-family: Impact, Charcoal, sans-serif;
    color:tomato;
    text-shadow:2px 1px rgb(193, 193, 206);
}


   